# Python venvs
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VS Code
.vscode/

# Streamlit
.streamlit/

# Data & generated artifacts from RAG_Streamlit_App
RAG_Streamlit_App/data/
RAG_Streamlit_App/MahaBharata.pt

# Hugging Face / SentenceTransformers cache (if inside repo by mistake)
cache/
models/
*.pt
*.bin

# OAuth / credentials backups
RAG_Streamlit_App/client_secret_*.json:Zone.Identifier
RAG_Streamlit_App/client_secret.json

# OS files
.DS_Store
Thumbs.db


RAG_Streamlit_App/=1.0
RAG_Project/RAG_Streamlit_App/data/Mahabharata.pdf
RAG_Project/docs/packagees.micrsoft.gpg
